<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Вход</title>
</head>
<body>
<div th:if="${param.error}">
    Неверный логин/пароль.
</div>
<form method="POST" action="/login">
    <h2>Вход в систему: guest/password</h2>
    <div>
        <input name="username" type="text" placeholder="Username"/>
        <input name="password" type="password" placeholder="Password"/>
        <button type="submit">Войти</button>
    </div>
</form>
</body>
</html>
